/.m2/

/WP3_WS_IMATI/target/
/WP3_WS_IMATI/.m2/
/WP3_WS_IMATI/cpp/
/WP3_WS_IMATI/libs/
/WP3_WS_IMATI/third_party_libs/

/integrity_checks/build
/orientation_service/build/
/detect_voids_service/build/
/thinwalls_and_cavities/build/
/stl2cli/build/
/global_checks/build/
/support_structures/build/

/build/
/integrity_checks/integrity_checks.pro.user
/thinwalls_and_cavities/thinwalls_and_cavities.pro.user




