/WP3_WS_IMATI/target/
/integrity_checks/build
/orientation_service/build/
/detect_voids_service/build/
/thinwalls_and_cavities/build/
/stl2cli/build/

/integrity_checks/integrity_checks.pro.user
/thinwalls_and_cavities/thinwalls_and_cavities.pro.user



